body, html{
	height: 100%;
	margin:0;
	line-height: :1.8em;
	color:#bfbfbf;
}
.pimg1, .pimg2, .pimg3, .signUpPage{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-attachment: fixed;

}

.pimg1{
	background-image: url("../images/flamingo.jpg");
	min-height: 70%;
}

.pimg2{
	background-image: url("../images/flower.jpg");
	min-height: 40%;
}

.pimg3{
	background-image: url("../images/flowerb.jpg");
	min-height: 40%;
}
.signUpPage{
	background-image: url("../images/pills.jpg");
	min-height: 100%;
	position: relative;
	opacity: 1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.signUpForm{

	border-style:groove;
	border-color: black;
	border-radius: 25px;
	padding: 15%;
	margin-top: 25%;
	background-color: black;
	opacity: 0.8;
}
#signedUp{

	border-style:groove;
	border-color: black;
	border-radius: 25px;
	padding: 5%;
	margin-top: 25%;
	background-color: black;
	opacity: 0.8;
}
.modal-content{

	border-color: black;
	border-radius: 25px;
	margin-top: 25%;
	padding: 5%;
	background-color: black;
	opacity: 0.8;
}
.modal-header{
	color: #fff;
}

.section{
	text-align: center;
	padding: 50px 80px;
}

.section-light{
	background-color: #f4f4f4;
	color:#bfbfbf;
}
.section-dark{
	background-color: #282e34;
	color: #bfbfbf;
}
.modal-body{
	color: black;
}
.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	letter-spacing: 8px;
	font-size: 27px;
}
.ptext .border{
	background-color: #111;
	opacity: 0.7;
	color: #fff;
	padding: 20px;
}
.ptext .border.trans{
	background-color: transparent;
}
 @media(max-width: 568px){
 	.pimg1, .pimg2, .pimg3{
 		background-attachment:scroll;
 	}
 }
